# Игнорировать Django шаблоны
**/templates/**/*.html

# Игнорировать миграции Django
**/migrations/*.py

# Игнорировать виртуальное окружение
venv/
env/

# Игнорировать медиа файлы
media/

# Игнорировать статические файлы
static/
staticfiles/

# Игнорировать базу данных
*.sqlite3
db.sqlite3

# Игнорировать кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd


